body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    background-color: rgb(166, 53, 53);
}

.content {
    display: flex;
} 

.space-div {
  width: 50vw;
  flex: 1 1 auto;
}

.content .menu {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-color: burlywood;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 8px;
    background-color: burlywood;
}

.tab-btn {
    background-color: rgb(166, 53, 53);
    border: 1px inset black;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

.home-div {
    display: flex;
    justify-content: space-between;
    background-color: burlywood;
}

.center-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
} p {
    font-size: 19px;
}

#banner {
    height: auto;
    width: 70vw;
}